{% extends "base.html" %}

{% block title %}Bookmarks{% endblock %}

{% macro icon(site, title="") %}
    <div class="thumbnail">
        <img src="{{ site }}" alt="{{ title }}" style="width: 350px;">
    </div>
{% endmacro %}

{% block page_content %}


<div class="page-header">
    <h3>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}! {% endif %} your bookmarks are</h3>
</div>
<div class="row">
    {% for bookmark in bookmarks %}
        {% if bookmark.image_url %}
            <div class="col-md-4">
                <a href="{{ bookmark. url }}" target="_blank" class="thumbnail">
                    {{ icon(bookmark.image_url) }}
                    <p>{{  bookmark.description }}</p>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
